Connected Services/ReferenciasNegocios/ServicioNegocios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioNegocios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56945/ServicioNegocios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56945/ServicioNegocios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56945/ServicioNegocios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WEB_APP_010" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioNegocios_Clientes_InputMessage">
    <wsdl:part name="parameters" element="tns:Clientes" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_Clientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_ClienteXNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteXNombre" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_ClienteXNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteXNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_PedidoXCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoXCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_PedidoXCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoXClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_PedidoXCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoXCodigo" />
  </wsdl:message>
  <wsdl:message name="IServicioNegocios_PedidoXCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoXCodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioNegocios">
    <wsdl:operation name="Clientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNegocios/Clientes" message="tns:IServicioNegocios_Clientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNegocios/ClientesResponse" message="tns:IServicioNegocios_Clientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteXNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNegocios/ClienteXNombre" message="tns:IServicioNegocios_ClienteXNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNegocios/ClienteXNombreResponse" message="tns:IServicioNegocios_ClienteXNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoXCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNegocios/PedidoXCliente" message="tns:IServicioNegocios_PedidoXCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNegocios/PedidoXClienteResponse" message="tns:IServicioNegocios_PedidoXCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoXCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioNegocios/PedidoXCodigo" message="tns:IServicioNegocios_PedidoXCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioNegocios/PedidoXCodigoResponse" message="tns:IServicioNegocios_PedidoXCodigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioNegocios" type="tns:IServicioNegocios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clientes">
      <soap:operation soapAction="http://tempuri.org/IServicioNegocios/Clientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteXNombre">
      <soap:operation soapAction="http://tempuri.org/IServicioNegocios/ClienteXNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoXCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioNegocios/PedidoXCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoXCodigo">
      <soap:operation soapAction="http://tempuri.org/IServicioNegocios/PedidoXCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioNegocios">
    <wsdl:port name="BasicHttpBinding_IServicioNegocios" binding="tns:BasicHttpBinding_IServicioNegocios">
      <soap:address location="http://localhost:56945/ServicioNegocios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>