Connected Services/ReferenciasNegocios/ServicioNegocios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WEB_APP_010" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WEB_APP_010" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_Lista_Cliente_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Lista_Cliente_Result" nillable="true" type="tns:usp_Lista_Cliente_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Lista_Cliente_Result" nillable="true" type="tns:ArrayOfusp_Lista_Cliente_Result" />
  <xs:complexType name="usp_Lista_Cliente_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fonoCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Lista_Cliente_Result" nillable="true" type="tns:usp_Lista_Cliente_Result" />
  <xs:complexType name="ArrayOfusp_Lista_Pedido_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Lista_Pedido_Result" nillable="true" type="tns:usp_Lista_Pedido_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Lista_Pedido_Result" nillable="true" type="tns:ArrayOfusp_Lista_Pedido_Result" />
  <xs:complexType name="usp_Lista_Pedido_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPedido" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPedido" type="xs:int" />
      <xs:element minOccurs="0" name="NomCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Lista_Pedido_Result" nillable="true" type="tns:usp_Lista_Pedido_Result" />
</xs:schema>