Connected Services/ReferenciasNegocios/ServicioNegocios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56945/ServicioNegocios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WEB_APP_010" />
  <xs:element name="Clientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WEB_APP_010" minOccurs="0" name="ClientesResult" nillable="true" type="q1:ArrayOfusp_Lista_Cliente_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteXNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteXNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WEB_APP_010" minOccurs="0" name="ClienteXNombreResult" nillable="true" type="q2:ArrayOfusp_Lista_Cliente_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoXCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoXClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WEB_APP_010" minOccurs="0" name="PedidoXClienteResult" nillable="true" type="q3:ArrayOfusp_Lista_Pedido_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoXCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoXCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WEB_APP_010" minOccurs="0" name="PedidoXCodigoResult" nillable="true" type="q4:ArrayOfusp_Lista_Pedido_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>